{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	<h4>The checker service consists of two parts:</h4>
	<ul class="link_list">
		<li>Master checker.</li>
		<li>Worker checker.</li>
	</ul>
	The "Master checker" runs the "Worker checker". The "Master checker" should be running always.
	<br /><br />
	When you want to start monitoring HAProxy service the The "Master checker" will start local worker for every HAProxy service. 
	The "Worker checker" will check every backend server and HAProxy status remotly by 1999 port(by default). 
	If any backend lost connect with the HAProxy service or the HAProxy service is fallen, the checker will send message via Telegram about it
	If you want to use and if you have install HAProxy service manually <a href="https://haproxy-wi.org/settings.py#haproxy_config">read</a> how you should set HAProxy service.
	<br />
	<h4>The "Master checker" and "Worker checker" Logs</h4>
	The "Master checker" and "Worker checker" have their own log in an "Internal logs". You can read more about the "Internal logs" 
	<a href="https://haproxy-wi.org/description.py?description=logs" title="Internal logs">here</a>
	<br /><br />
</div>
	<table class="overview">
		<tr class="overviewHead">
			<td class="padding10 first-collumn">
				Parameter:
			</td>
			<td>
				Description:
			</td>
		</tr>
		<tr>
			<td class="padding10 first-collumn">
				Token
			</td>
			<td>
				Token that gave you @father_bot
			</td>
		</tr>
		<tr class="even">
			<td class="padding10 first-collumn">
				Channel name
			</td>
			<td>
				Name of your channel 
			</td>
		</tr>
		<tr>
			<td class="padding10 first-collumn">
				Group
			</td>
			<td>
				You can set one of the exists group. Group = namespace. Members from one group cannot see servers from another
			</td>
		</tr>
	</table>
	<div style="padding: 20px">
		<img src="/inc/images/checker.png" alt="Servers" class="printscreen" />
	</div>
{% endblock %}