{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	<h3>HAProxy-WI interface descriptions</h3>
	<ul style="font-size: 15px; color: #aaa;" class="link_list">
		<li><a href="description.py?description=servers" title="Add servers description">The "Adding servers" description</a></li>
		<li><a href="description.py?description=creds" title="Add Credentials description">The "Credentials" description</a></li>
		<li><a href="description.py?description=checker" title="Add Checker description">The "Checker" description</a></li>
		<li><a href="description.py?description=runtimeapi" title="The Run Time API commands descriptions">The "RunTime API" descriptions</a></li>
		<li><a href="description.py?description=logs" title="The Internal logs descriptions">The "Internal logs" descriptions</a></li>
		<li><a href="description.py?description=saved" title="How to use">Pre saved options and servers</a></li>
		<li><a href="description.py?description=userlist" title="How to use">The "Userlist" description</a></li>
		<li><a href="description.py?description=setup" title="How to use">How to setup servers, group and SSH credentials</a></li>
		<li><a href="description.py?description=api" title="How to API">REST API</a></li>
		<li><a href="description.py?description=backup" title="Backup HAProxy`s configs">Backup HAProxy`s configs</a></li>
		<li><a href="description.py?description=nginx_status" title="Nginx status page description">Nginx status page</a></li>
		<li><a href="description.py?description=waf" title="Web application firewall">WAF</a></li>
	</ul>
</div>
{% endblock %}