<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147648038-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-147648038-1');
		</script>

		<title>{{title}} - {{description}} - HAproxy-WI</title>
		<meta name="yandex-verification" content="a50c5f9faffb8314" />
		<meta charset="UTF-8">	
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="icon" type="image/png" href="/inc/images/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="57x57" href="/inc/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/inc/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/inc/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/inc/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/inc/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/inc/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/inc/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/inc/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/inc/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/inc/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/inc/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/inc/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/inc/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="/inc/images/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/inc/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<script>
			FontAwesomeConfig = { searchPseudoElements: true, observeMutations: false };
		</script>
		<script defer src="/inc/fa-solid.min.js"></script>
		<script defer src="/inc/fa-brands.min.js"></script>
		<script defer src="/inc/fontawesome.min.js"></script>
		<link href="/inc/awesome.css" rel="stylesheet">
		<link href="/inc/style.css" rel="stylesheet">
		<link href="/inc/nprogress.css" rel="stylesheet">
		<link rel="stylesheet" href="/inc/jquery-ui.css">
		<script src="/inc/jquery-1.12.4.js"></script>
		<script src="/inc/jquery-ui.js"></script>
		<script src="/inc/js-cookie.js"></script>
		<script src="/inc/script.js"></script>
		<script src="/inc/nprogress.js"></script>
		<meta name="description" content="{{description}} Web interface(user-friendly web GUI, alerting, monitoring and secure) for managing Haproxy, Nginx and Keepalived servers" />
		<meta name="keywords" content="haproxy-servers nginx keepalived web-interface management web-manager web-gui web interface gui frontend webui haproxy-configuration haproxy-status haproxy-gui haproxy-wi haproxy-managment high-availibility loadbalancer lbs waf" />

	</head>
	<body>
		<div class="top-menu">
			<div class="LogoText">
				<span id="logo_text">
					<a href="https://haproxy-wi.org" title="HAProxy-WI site" target="_blank">
						<img src="https://demo.haproxy-wi.org/inc/images/logo_menu.png" alt="logo" width="170" />
					</a>
				</span>			
			</div>	
			<div id="top-link" class="top-link">
				<nav id="menu">
					<ul class="menu">
						<li><a href="index.py" title="Main page" class="stats">About</a>			
						<!-- 	<ul class="v_menu">
								<li><a href=/app/overview.py title="Server and service status" class="overview-link head-submenu">Overview</a></li>
								<li><a href=/app/viewsttats.py title="Show stats" class="stats head-submenu">Stats</a></li>
								<li><a href=/app/logs.py title="View logs" class="logs head-submenu"> Logs</a></li>	
								<li><a href=/app/edit.py title="Runtime API" class="runtime head-submenu">Runtime API</a></li>
								<li><a href=/app/metrics.py title="Metrics" class="metrics head-submenu">Metrics</a></li>
							</ul> -->
						</li>
						<li class="p_menu">
							<a title="Docs" class="add">Docs</a>			
							 <ul class="v_menu">
								<li><a href=/installation.py title="Installation" class="edit head-submenu">Installation</a> </li>
								<li><a href=/docker.py title="Docker" class="docker head-submenu">Docker</a> </li>
								<li><a href=/settings.py title="Settings" class="settings head-submenu">Settings</a></li>
								<li><a href=/description.py title="HAProxy-WI interface descriptions" class="lists head-submenu">Descriptions</a></li>
								<li><a href=/updates.py title="Update" class="upload head-submenu">Update</a></li>
								<li><a href=/changelog.py title="What's new?" class="edit head-submenu">Changelog</a></li> 
							</ul> 
						</li>
						<li>
							<a href="https://demo.haproxy-wi.org" title="Demo site" class="stats">Demo</a>							
							<a href="cloud.py" title="HAProxy-WI Cloud" class="cloud">Cloud</a>							
						</li>
						<li>
							<a href="donate.py" title="Actions with configs" class="overview-link">Donate</a>							
						</li>	
						<li>
							<a href="contacts.py" title="Actions with configs" class="contacts">Contacts</a>							
						</li>	
							<!-- <li class="p_menu">
								<a title="Keepalived" class="ha">Keepalived</a>
								<ul class="v_menu">
									<li><a href=/app/ha.py title="Create HA cluster" class="keepalived head-submenu">HA</a></li>
									<li><a href=/app/keepalivedconfig.py title="Edit keepalived config" class="edit head-submenu">Edit config</a></li>		
								</ul>
							</li> -->

					</ul>
				</nav>
				<!-- <div class="copyright-menu">
					<a href="https://www.patreon.com/haproxy_wi" title="Donate" target="_blank" style="color: #fff; margin-left: 30px; color: red;" class="patreon">  Donate</a>
				</div> -->
			</div>
		</div>
		<div id="cover"></div>
		<div class="container">

				<h2>
					{{title}}
					
				</h2>
			{% block content %}{% endblock %}
			
		</div>			
		<div class="footer">
			<div class="footer-copyright">		
			</div>
			<div id="logo_footer">
				<a href="https://haproxy-wi.org" title="HAProxy-WI site">
					<img src="/inc/images/logo_footer.png" alt="logo" id="logo_footer_img" />
				</a>
			</div>
			<div class="footer-div">
				<a href="https://github.com/Aidaho12/haproxy-wi/" class="footer-link" target="_blank">Github</a>
				<a href="https://github.com/Aidaho12/haproxy-wi/issues" class="footer-link" target="_blank">Help</a>
				<a href="https://github.com/Aidaho12" class="footer-link" target="_blank">Contact</a>
				<a href="http://haproxy-wi.org" class="footer-link" target="_blank">About</a>
			</div>
		</div>
	</body>
</html>
