{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">

<h1>Good news everyone</h1>

	<div class="changelog">
		<a name="4_5"></a>
		<h3><a href="changelog.py#4_5" title="v4.5">v4.5.0 (02.10.2020)</a></h3>
		<ol>
			<li>Support for Let's Encryption has been added</li>
			<li>Was added the ability to view and kill HAProxy sessions</li>
		</ol>
	</div>

<div class="changelog">
	<a name="4_4_3"></a>
	<h3><a href="changelog.py#4_4_3" title="v4.4.3">v4.4.3 (15.09.2020)</a></h3>
	<ol>
		<li>Was added the ability to clear a whole sticky-table</li>
		<li>Was added the ability to Autorefresh for SMON dashboard</li>
		<li>Was added the ability to enable/disable WAF rules</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_4_2"></a>
	<h3><a href="changelog.py#4_4_2" title="v4.4.2">v4.4.2 (02.09.2020)</a></h3>
	<ol>
		<li>Was added "Antibot" option on the "Add" page</li>
		<li>We continue to improve the "Admin area" and the "Servers" pages</li>
		<li>Were fixed bugs with "Backup"</li>
		<li>Grafana and Prometheus installation moved to the "Admin area"</li>
		<li>Was improved the "Overview" page: the "editor" role can see members of its group</li>
		<li>Was improved the "Overview" page: the "editor" role can see Recent HAProxy-WI log</li>
		<li>Were fixed interface bugs for the roles: "editor" ang "guest"</li>
		<li>A lot of work has been done to improve the work of the groups</li>
		<li>Were added their own the "Settings" for each group(Required to recreate groups after update. Read more detail
			<a href="https://haproxy-wi.org/updates.py#4.2.2" title="Updating from 4.4.1 to 4.4.2 version">here</a>)</li>
		<li>Were added their own the "Internal logs" for each group</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_4_1"></a>
	<h3><a href="changelog.py#4_4_1" title="v4.4.1">v4.4.1 (15.08.2020)</a></h3>
	<ol>
		<li>Was added the ability to edit black and white lists without restarting HAProxy service</li>
		<li>Was improved the "HAProxy server overview": were added Bytes in and Bytes out</li>
		<li>Was improved the "HAProxy server overview": were added current number of sessions and cumulative number of sessions processed so far</li>
		<li>Was added the ability to use the "SSL" page for Nginx too</li>
		<li>Were fixed bugs with "Add" interface</li>
		<li>Was improved navigation in the tabs</li>
		<li>Were improved the "Admin area" and the "Servers" pages</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_4"></a>
	<h3><a href="changelog.py#4_4" title="v4.4">v4.4.0 (02.08.2020)</a></h3>
	<ol>
		<li>REST API is deprecated and will be deleted</li>
		<li>Was improved the "Bread crumbs"</li>
		<li>Was improved redirect with login expired</li>
		<li>Integration with <a href="https://github.com/Aidaho12/smon" title="Simple port monitoring" target="_blank">SMON</a></li>
		<li>Was added new and more convenient notifications</li>
		<li>Many small interface fixes</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_3_3"></a>
	<h3><a href="changelog.py#4_3_3" title="v4.3.3">v4.3.3 (15.07.2020)</a></h3>
	<ol>
		<li>Nice and convenient sticky-tables output</li>
		<li>Nice and convenient interface for managing sticky-tables</li>
		<li>Was fixed a small bug with Runtime API interface</li>
		<li>Was fixed a small bug with Auto-refresh interface</li>
		<li>Was fixed a small bug with Admin Area interface</li>
		<li>Was fixed a small bug with Logs interface</li>
		<li>Was fixed bug with Waf metrics</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_3_2"></a>
	<h3><a href="changelog.py#4_3_2" title="v4.3.2">v4.3.2 (01.07.2020)</a></h3>
	<ol>
		<li>Was added ability to use regex in log filter</li>
		<li>Was added ability to exclude line by regex in log filter</li>
		<li>Was added highlighting the search phrase</li>
		<li>Support for LDAPS</li>
		<li>Was improved the "Config" page: was added code editor for config editing</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_3_1"></a>
	<h3><a href="changelog.py#4_3_1" title="v4.3.1">v4.3.1 (15.06.2020)</a></h3>
	<ol>
		<li>Sorting servers: it will give ability to sort on you own for displaing on the "Metrics", "Overview", etc pages</li>
		<li>Ability dynamically change "maxconn" for Frontends, Listens and Global</li>
		<li>Ability dynamically change backend IP and port</li>
		<li>The "Installation" page was splitted into two pages</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_3"></a>
	<h3><a href="changelog.py#4_3" title="v4.3.0">v4.3.0 (01.06.2020)</a></h3>
	<ol>
		<li>Page for manage internal HAProxy-WI tools: start/stop/disable/enable tools: Metrics master, Alerts Master, Auto start, Fail2ban, Grafana and Prometheus</li>
		<li>Fail2ban implemented. This will provide more protection against brute force attacks for SSH, Apache and HAProxy-WI if your server is on the Internet</li>
		<li>Was added reload function for HAProxy and Nginx on the "Overview" pages</li>
		<li>Was added sorting for the Internal logs</li>
		<li>Was fixed bug with permissions in the Internal logs</li>
		<li>Was added the ability to assign multiple groups to a user</li>
		<li>Was added the ability to switch between groups on any page</li>
		<li>Was imporoved the "Overview" pages: a nice pie graphs insetead text in the "Server status"</li>
		<li>Ability to install a new version of HAProxy (2.0.14)</li>
		<li>Was fixed bug with MySQL and metrics</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_2_3"></a>
	<h3><a href="changelog.py#4_2_3" title="v4.2.3">v4.2.3 (10.05.2020)</a></h3>
	<ol>
		<li>The "Nginx Overview" page</li>
		<li>Was added opening ports for Nginx virtual hosts</li>
		<li>Was fixed SSH check connection</li>
		<li>Was fixed Metrics worker bug</li>
		<li>Ports for Grafana and Prometheus servers will be opened by default with installation</li>
		<li>Was improved the "Overview" page: there are more statuses for workers</li>
		<li>Was added ability to uploaded Black/White lists to separate servers</li>
		<li>Was added mirror for HAProxy RPMs for to be on the safe side</li>
		<li>A new Python! Installation will be much faster, and easier manage packages. How to update read 
		<a href="https://haproxy-wi.org/updates.py#4.2.2" title="Updating from 4.2.2 and earlier to later versions">here</a></li>
	</ol>
</div>


<div class="changelog">
	<a name="4_2_2"></a>
	<h3><a href="changelog.py#4_2_2" title="v4.2.2">v4.2.2 (22.04.2020)</a></h3>
	<ol>
		<li>Was improved the "Overview" page: added Grafana and Prometheus servers status</li>
		<li>Ports for the exporters will open by default with installation</li>
		<li>HAProxy-WI configure remote rsyslog for HAProxy logs</li>
		<li>A few small bugs in Keepalived installation</li>
		<li>Was fixed bug with Lists upload</li>
		<li>Was fixed a few small with Telegram</li>
		<li>Was added ability to reload HAProxy service in Lists upload</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_2_1"></a>
	<h3><a href="changelog.py#4_2_1" title="v4.2.1">v4.2.1 (06.04.2020)</a></h3>
	<ol>
		<li>Was fixed bug with non ascii characters</li>
		<li>Was fixed bug with WAF service</li>
		<li>Was fixed bug with SELinux on EL8</li>
		<li>Was fixed bug with installation Keepalived</li>
		<li>Was fixed bug with Auto restart tool</li>
		<li>A new edit style for the "Admin" and "Servers" page for prevent browser autofill</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_2"></a>
	<h3><a href="changelog.py#4_2" title="v4.2.0">v4.2.0 (03.04.2020)</a></h3>
	<ol>
		<li>Ability to install Grafana with pre-installed HAProxy and Nginx dashboards</li>
		<li>Ability to install Prometheus server</li>
		<li>Ability to install HAProxy exporter</li>
		<li>Ability to install Nginx exporter</li>
		<li>Was imporoved the "Show config"</li>
		<li>Pretty config shows for Nginx like HAProxy config shows</li>
		<li>Stats port for Nginx opens in firewalld by default with installation</li>
	</ol>
</div>

<div class="changelog">
	<a name="4_1"></a>
	<h3><a href="changelog.py#4_1" title="v4.1.0">v4.1.0 (24.03.2020)</a></h3>
	<ol>
		<li>Was added a stats page for Nginx</li>
		<li>Was added log page for Nginx</li>
		<li>Now the SSL certificate is generated dynamically during installation via RPM. This provides more security</li>
		<li>Was fixed bug with shows "check connection" status on the "Servers" page</li>
		<li>Was fixed bug with Firewalld</li>
		<li>Sets SELinux permissive mode by default with installation HAProxy, Nginx and Keepalived now</li>
		<li>Ability to install a new version of HAProxy (2.0.13)</li>
		<li>Was fixed bug about dots in hostnames</li>
	</ol>
</div>

<div class="changelog">
	<a name="4"></a>
	<h3><a href="changelog.py#4" title="v4.0.0">v4.0.0 (17.03.2020)</a></h3>
	<ol>
		<li>Nginx support!</li>
		<li>Was added ability to installation Nginx service</li>
		<li>Was added ability to editing Nginx config</li>
		<li>Was added ability to push changes to All Master/Slave server with a single click</li>
		<li>Was added ability to upload the versions Nginx configs</li>
		<li>Was added ability to compare the versions Nginx configs</li>
		<li>Was added ability to view the Nginx error logs</li>
		<li>Was added ability to start/stop/restart the Nginx services via HAProxy-WI</li>
		<li>Was imporoved the HAProxy-WI overview page: there is Nginx services status now</li>
		<li>The servers settings: "Alert", "Metrics" and "Auto start" were moved to the "HAProxy overview" page</li>
		<li>Was removed the "Monitor" menu</li>
		<li>The menus: "Options", "Servers" and "Userlists" were moved to the "Add proxy" page</li>
		<li>Was fixed Add VRRP bug</li>
		<li>Was fixed loging log in bug</li>
		<li>Was design improved: were removed all images, instead them uses the Fontawesome</li>
		<li>SELinux support in the RPM</li>
		<li>Was fixed bug with SSL certs on EL8</li>
		<li>Was optimized code base</li>
		<li>Was closed a few security issues</li>
	</ol>
</div>

<div class="changelog">
	<a name="3_13"></a>
	<h3><a href="changelog.py#3_13" title="v3.13.0.0">v3.13.0.0 (17.02.2020)</a></h3>
	<ol>
		<li>Was added ability to upload the versions Keepalived configs</li>
		<li>Were imporoved the HAProxy-WI overview page: there is Keepalived service status now</li>
	</ol>
</div>

<div class="changelog">
	<a name="3_12_2_2"></a>
	<h3><a href="changelog.py#3_12_2_2" title="v3.12.2.2">v3.12.2.2 (10.02.2020)</a></h3>
	<ol>
		<li>Was removed ability edit IP address in a server setting</li>
		<li>Bug fixed: was bug on the "Add" pages with checks</li>
		<li>Was closed SQL Injection per uuid Cookie</li>
	</ol>
</div>

<div class="changelog">
	<a name="3_12_2_1"></a>
	<h3><a href="changelog.py#3_12_2_1" title="v3.12.2.1">v3.12.2.1 (3.02.2020)</a></h3>
	<ol>
		<li>Was improved the "HAProxy Overview" page: There is Master/Slave relationships between servers now</li>
		<li>The "WAF" page bug fix: the start and stop buttons</li>
	</ol>
</div>

<div class="changelog">
	<a name="3_12_2"></a>
	<h3><a href="changelog.py#3_12_2" title="v3.12.2">v3.12.2 (27.01.2020)</a></h3>
	<ol>
		<li>Code works with AJAX was optimized</li>
		<li>Were improved logging; now mostly actions in "Admin area" are logged</li>
		<li>Small bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<a name="3_12_1"></a>
	<h3><a href="changelog.py#3_12_1" title="v3.12.1">v3.12.1 (20.01.2020)</a></h3>
	<ol>
		<li>Was added ability add the "Server-template" via the "Add" pages</li>
		<li>"log_path" was deleted from config file because unused</li>
		<li>"cert_local_dir" was moved from config file into Web as "ssl_local_path"</li>
		<li>Was optimized "create db" file: was deleted deprecated functions</li>
		<li>Bug fix: problem with lists upload</li>
		<li>Were improved logging; now there are logs for: change WAF mode and actions with lists</li>
	</ol>
</div>

<div class="changelog">
	<a name="3_12_0"></a>
	<h3><a href="changelog.py#3_12_0" title="v3.12.0">v3.12.0 (13.01.2020)</a></h3>
	<ol>
		<li>Backups! Now HAProxy-WI has ability to backup saved config files of HAProxy</li>
		<li>Was improved interface for mobile</li>
		<li>The "Runtime API" bug was fixed</li>
	</ol>
</div>

<div class="changelog">
	<a name="3_11_0"></a>
	<h3><a href="changelog.py#3_11_0" title="v3.11.0">v3.11.0 (06.01.2020)</a></h3>
	<ol>
		<li>Were improved the "WAF" page: now loading information about servers goes in parallel, which significantly increases the speed of loading pages, especially if some servers are unavailable</li>
		<li>The Ansible roles now included installation HAProxy for EL8</li>
		<li>There is a new version of HAProxy 2.0.12</li>		
		<li>Small bugs fix</li>		
		<li>Was added MYSQL port to HAProxy-WI config</li>		
	</ol>
</div>

<div class="changelog">
	<a name="3_10_1"></a>
	<h3><a href="changelog.py#3_10_1" title="v3.10.1">v3.10.1 (30.12.2019)</a></h3>
	<ol>
		<li>Was improved WAF install script</li>
		<li>Was added a new WAF rules: v3.0.2</li>
		<li>The Ansible roles now included installation epel reposipory for EL</li>
		<li>Was optimized the DB code, now it works faster</li>		
		<li>Logging of more actions in the "Admin area" has been added.</li>
		<li>Bug fix: was bug with sends form from the "Add" pages</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.10.0 (27.12.2019)</h3>
	<ol>
		<li>Were improved the "Overview" pages: now loading information about servers goes in parallel, which significantly increases the speed of loading pages, especially if some servers are unavailable</li>
		<li>Bug fix: problem with work via proxy</li>
		<li>Bug fix: notice about a new version</li>
		<li>Was optimized modules list</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.4 (23.12.2019)</h3>
	<ol>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.3 (18.12.2019)</h3>
	<ol>
		<li>Was added a new version HAProxy</li>
		<li>Bug fix</li>
		<li>Was improved the "Config edit" page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.2 (15.12.2019)</h3>
	<ol>
		<li>Was improved Ansible role for installation HAProxy(port opening has been added)</li>
		<li>Bug fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.1 (11.12.2019)</h3>
	<ol>
		<li>Bug fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9 (08.12.2019)</h3>
	<ol>
		<li>Was moved from GET to POST</li>
		<li>Was improved the "Overview" page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.8.2 (04.12.2019)</h3>
	<ol>
		<li>Were improved breadcrums</li>
		<li>Was improved interface for mobile</li>
		<li>Was improved LDAP support</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.8.1 (02.12.2019)</h3>
	<ol>
		<li>Were added breadcrums</li>
		<li>Was improved interface for mobile</li>
		<li>Was improved logging</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.8 (30.11.2019)</h3>
	<ol>
		<li>Ability update installed HAProxy service</li>
		<li>Ansible roles were impoved</li>
		<li>A new version HAProxy appeared</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.4 (25.11.2019)</h3>
	<ol>
		<li>A new REST API endpoint: log</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3.3 (22.11.2019)</h3>
	<ol>
		<li>Small bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3.2 (19.11.2019)</h3>
	<ol>
		<li>The "Config show" was impoved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3.1 (15.11.2019)</h3>
	<ol>
		<li>Small design changes</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3 (12.11.2019)</h3>
	<ol>
		<li>The HAProxy server overview was improved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.2 (09.11.2019)</h3>
	<ol>
		<li>Small bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.1 (07.11.2019)</h3>
	<ol>
		<li>Ansible roles were improved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7 (03.11.2019)</h3>
	<ol>
		<li>Now installation HAProxy and Keepalived will be via Ansible</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.6.1 (01.11.2019)</h3>
	<ol>
		<li>Were added new functions REST API</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.6 (29.10.2019)</h3>
	<ol>
		<li>REST API</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.8 (25.10.2019)</h3>
	<ol>
		<li>New HAProxy server page</li>
		<li>Headers protections</li>
		<li>Code optimization</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.7.1 (21.10.2019)</h3>
	<ol>
		<li>Code optimization</li>
		<li>Design fix</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.7 (19.10.2019)</h3>
	<ol>
		<li>Ability add userlist as separate section</li>
		<li>Design fix</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.6 (15.10.2019)</h3>
	<ol>
		<li>Ability choose HAProxy version in the Install page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.5 (14.10.2019)</h3>
	<ol>
		<li>The "Overview" pages are improved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.4 (11.10.2019)</h3>
	<ol>
		<li>Attack on change group</li>
		<li>Token security issue</li>
		<li>Improved desing</li>
		<li>Bugs fix</li>
	</ol>
</div>


<div class="changelog">
	<h3>v3.5.3 (09.10.2019)</h3>
	<ol>
		<li>Attack to privilege escalation</li>
		<li>New "Saved servers" section</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.2 (07.10.2019)</h3>
	<ol>
		<li>Mobile-ready design</li>
		<li>The "Peers" now are separate section in configs</li>
		<li>Bugs fix</li>
		<li>Improved HAProxy-WI logs</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.1 (06.10.2019)</h3>	
	<ol>
		<li> New metrics</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5 (06.10.2019)</h3>	
	<ol>
		<li> Many interface changes</li>
		<li> Bug fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.5 (01.10.2019)</h3>	
	<ol>
		<li> Added ability to reload instead of restart</li>
		<li> Improved interface</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.4 (30.09.2019)</h3>	
	<ol>
		<li> Improved the User page</li>
		<li> Improved the log pages</li>
		<li> Logos!</li>
		<li> Improved  design!</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.3 (28.09.2019)</h3>	
	<ol>
		<li> Securety issue</li>
		<li> Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.2 (27.09.2019)</h3>	
	<ol>
		<li> Improved the Overview page</li>
		<li> Improved the "Add Proxy" page</li>
		<li> Improved the admin page</li>
		<li> Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9 (23.09.2019)</h3>	
	<ol>
		<li> New the overview HAProxy-WI page</li>
		<li> New the overview HAProxy page</li>
		<li> New the "Add Proxy" page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.8 (20.09.2019)</h3>	
	<ol>
		<li> Appeared ability edit not whole config, just separate sections</li>
		<li> Some new design</li>
		<li> Improved the "Options"</li>
		<li> Bugs fixed</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.7 (17.09.2019)</h3>	
	<ol>
		<li> Now combined version sections(upload and delete)</li>
		<li> Appeared "Options" tab where you can save options and after use them for adds your proxy</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.6.1 (15.09.2019)</h3>	
	<ol>
		<li> Improved logging. Now in the "Internals log" haproxy-wi log all systems events</li>
		<li> Improved update. Now HAProxy-WI will be show you  if there is a new version(near HAProxy-WI version)</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.6 (14.09.2019)</h3>	
	<ol>
		<li> Add update HAProxy-WI page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.5.1 (14.09.2019)</h3>	
	<ol>
		<li> Refactoring installation script</li>
		<li> Fixed mobile version</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.5 (14.09.2019)</h3>	
	<ol>
		<li> WAF was improved</li>
		<li> Overview was improved </li>
		<li> Bugs fixed</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.4.7 (13.09.2019)</h3>
	<ol>
		<li> Stat page was improved</li>
		<li> Fixed bugs</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.4.6 (13.09.2019)</h3>	
	<ol>
		<li> Auto start function was improved</li>
		<li> Auto start function indicator appeared</li>
		<li> Fixed bugs</li>
	</ol>
</div>
</div>
{% endblock %}
