{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">

<h1>Good news everyone</h1>

<div class="changelog">
	<h3>v3.5</h3>
	<br />
	<ul>
		<li>1. Many interface changes</li>
		<li>2. Bug fix</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.9.5</h3>
	<br />
	<ul>
		<li>1. Added ability to reload instead of restart</li>
		<li>2. Improved interface</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.9.4</h3>
	<br />
	<ul>
		<li>1. Improved the User page</li>
		<li>2. Improved the log pages</li>
		<li>3. Logos!</li>
		<li>4. Improved  design!</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.9.3</h3>
	<br />
	<ul>
		<li>1. Securety issue</li>
		<li>2. Bugs fix</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.9.2</h3>
	<br />
	<ul>
		<li>1. Improved the Overview page</li>
		<li>2. Improved the "Add Proxy" page</li>
		<li>3. Improved the admin page</li>
		<li>4. Bugs fix</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.9</h3>
	<br />
	<ul>
		<li>1. New the overview HAProxy-WI page</li>
		<li>2. New the overview HAProxy page</li>
		<li>3. New the "Add Proxy" page</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.8</h3>
	<br />
	<ul>
		<li>1. Appeared ability edit not whole config, just separate sections</li>
		<li>2. Some new design</li>
		<li>3. Improved the "Options"</li>
		<li>4. Bugs fixed</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.7</h3>
	<br />
	<ul>
		<li>1. Now combined version sections(upload and delete)</li>
		<li>2. Appeared "Options" tab where you can save options and after use them for adds your proxy</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.6.1</h3>
	<br />
	<ul>
		<li>1. Improved logging. Now in the "Internals log" haproxy-wi log all systems events</li>
		<li>2. Improved update. Now HAProxy-WI will be show you  if there is a new version(near HAProxy-WI version)</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.6</h3>
	<br />
	<ul>
		<li>1. Add update HAProxy-WI page</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.5.1</h3>
	<br />
	<ul>
		<li>1. Refactoring installation script</li>
		<li>2. Fixed mobile version</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.5</h3>
	<br />
	<ul>
		<li>1. WAF was improved</li>
		<li>2. Overview was improved </li>
		<li>3. Bugs fixed</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.4.7</h3>
	<br />
	<ul>
		<li>1. Stat page was improved</li>
		<li>2. Fixed bugs</li>
	</ul>
</div>

<div class="changelog">
	<h3>v3.4.4.6</h3>
	<br />
	<ul>
		<li>1. Auto start function was improved</li>
		<li>2. Auto start function indicator appeared</li>
		<li>3. Fixed bugs</li>
	</ul>
</div>

{% endblock %}