{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">

<h1>Good news everyone</h1>

<div class="changelog">
	<h3>v3.10.0 (28.12.2019)</h3>
	<ol>
		<li>Were improved the "Overview" pages: now loading information about servers goes in parallel, which significantly increases the speed of loading pages, especially if some servers are unavailable</li>
		<li>Bug fix: problem with work via proxy</li>
		<li>Bug fix: notice about a new version</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.4 (23.12.2019)</h3>
	<ol>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.3 (18.12.2019)</h3>
	<ol>
		<li>Was added a new version HAProxy</li>
		<li>Bug fix</li>
		<li>Was imporved the "Config edit" page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.2 (15.12.2019)</h3>
	<ol>
		<li>Was improved Ansible role for installation HAProxy(port opening has been added)</li>
		<li>Bug fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9.1 (11.12.2019)</h3>
	<ol>
		<li>Bug fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.9 (08.12.2019)</h3>
	<ol>
		<li>Was moved from GET to POST</li>
		<li>Was improved the "Overview" page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.8.2 (04.12.2019)</h3>
	<ol>
		<li>Were improved breadcrums</li>
		<li>Was improved interface for mobile</li>
		<li>Was improved LDAP support</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.8.1 (02.12.2019)</h3>
	<ol>
		<li>Were added breadcrums</li>
		<li>Was improved interface for mobile</li>
		<li>Was improved logging</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.8 (30.11.2019)</h3>
	<ol>
		<li>Ability update installed HAProxy service</li>
		<li>Ansible roles were impoved</li>
		<li>A new version HAProxy appeared</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.4 (25.11.2019)</h3>
	<ol>
		<li>A new REST API endpoint: log</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3.3 (22.11.2019)</h3>
	<ol>
		<li>Small bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3.2 (19.11.2019)</h3>
	<ol>
		<li>The "Config show" was impoved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3.1 (15.11.2019)</h3>
	<ol>
		<li>Small design changes</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.3 (12.11.2019)</h3>
	<ol>
		<li>The HAProxy server overview was improved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.2 (09.11.2019)</h3>
	<ol>
		<li>Small bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7.1 (07.11.2019)</h3>
	<ol>
		<li>Ansible roles were improved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.7 (03.11.2019)</h3>
	<ol>
		<li>Now installation HAProxy and Keepalived will be via Ansible</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.6.1 (01.11.2019)</h3>
	<ol>
		<li>Were added new functions REST API</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.6 (29.10.2019)</h3>
	<ol>
		<li>REST API</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.8 (25.10.2019)</h3>
	<ol>
		<li>New HAProxy server page</li>
		<li>Headers protections</li>
		<li>Code optimization</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.7.1 (21.10.2019)</h3>
	<ol>
		<li>Code optimization</li>
		<li>Design fix</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.7 (19.10.2019)</h3>
	<ol>
		<li>Ability add userlist as separate section</li>
		<li>Design fix</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.6 (15.10.2019)</h3>
	<ol>
		<li>Ability choose HAProxy version in the Install page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.5 (14.10.2019)</h3>
	<ol>
		<li>The "Overview" pages are improved</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.4 (11.10.2019)</h3>
	<ol>
		<li>Attack on change group</li>
		<li>Token security issue</li>
		<li>Improved desing</li>
		<li>Bugs fix</li>
	</ol>
</div>


<div class="changelog">
	<h3>v3.5.3 (09.10.2019)</h3>
	<ol>
		<li>Attack to privilege escalation</li>
		<li>New "Saved servers" section</li>
		<li>Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.2 (07.10.2019)</h3>
	<ol>
		<li>Mobile-ready design</li>
		<li>The "Peers" now are separate section in configs</li>
		<li>Bugs fix</li>
		<li>Improved HAProxy-WI logs</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5.1 (06.10.2019)</h3>	
	<ol>
		<li> New metrics</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.5 (06.10.2019)</h3>	
	<ol>
		<li> Many interface changes</li>
		<li> Bug fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.5 (01.10.2019)</h3>	
	<ol>
		<li> Added ability to reload instead of restart</li>
		<li> Improved interface</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.4 (30.09.2019)</h3>	
	<ol>
		<li> Improved the User page</li>
		<li> Improved the log pages</li>
		<li> Logos!</li>
		<li> Improved  design!</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.3 (28.09.2019)</h3>	
	<ol>
		<li> Securety issue</li>
		<li> Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9.2 (27.09.2019)</h3>	
	<ol>
		<li> Improved the Overview page</li>
		<li> Improved the "Add Proxy" page</li>
		<li> Improved the admin page</li>
		<li> Bugs fix</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.9 (23.09.2019)</h3>	
	<ol>
		<li> New the overview HAProxy-WI page</li>
		<li> New the overview HAProxy page</li>
		<li> New the "Add Proxy" page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.8 (20.09.2019)</h3>	
	<ol>
		<li> Appeared ability edit not whole config, just separate sections</li>
		<li> Some new design</li>
		<li> Improved the "Options"</li>
		<li> Bugs fixed</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.7 (17.09.2019)</h3>	
	<ol>
		<li> Now combined version sections(upload and delete)</li>
		<li> Appeared "Options" tab where you can save options and after use them for adds your proxy</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.6.1 (15.09.2019)</h3>	
	<ol>
		<li> Improved logging. Now in the "Internals log" haproxy-wi log all systems events</li>
		<li> Improved update. Now HAProxy-WI will be show you  if there is a new version(near HAProxy-WI version)</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.6 (14.09.2019)</h3>	
	<ol>
		<li> Add update HAProxy-WI page</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.5.1 (14.09.2019)</h3>	
	<ol>
		<li> Refactoring installation script</li>
		<li> Fixed mobile version</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.5 (14.09.2019)</h3>	
	<ol>
		<li> WAF was improved</li>
		<li> Overview was improved </li>
		<li> Bugs fixed</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.4.7 (13.09.2019)</h3>
	<ol>
		<li> Stat page was improved</li>
		<li> Fixed bugs</li>
	</ol>
</div>

<div class="changelog">
	<h3>v3.4.4.6 (13.09.2019)</h3>	
	<ol>
		<li> Auto start function was improved</li>
		<li> Auto start function indicator appeared</li>
		<li> Fixed bugs</li>
	</ol>
</div>

{% endblock %}