{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	<h3>You already know HAProxy-WI, get to know HAProxy-WI Cloud</h3>
	<h4>	
		Manage, visualize and alert without the headache of scaling or managing your own stack.
	</h4>
	<ul class="link_list">
		<li><a href="cloud.py#server" title="Cloud server">Cloud server</a></li>
		<li><a href="cloud.py#panel" title="Cloud panel">Cloud panel</a></li>
	</ul>
	<a name="server"></a>
	<h3><a href="cloud.py#server" title="Cloud server">HAProxy-WI Cloud server</a></h3>
	<br />
	<h3>HAProxy-WI Cloud server includes:</h3>
	<ul class="link_list">
		<li>Dedicated HAProxy-WI Instance</li>
		<li>Unlimited servers</li>
		<li>Unlimited dashboards</li>
		<li>Unlimited alerts</li>
		<li>Grafana service</li>
		<li>Prometheus service</li>
		<li>Custom auth (LDAP or Native)</li>
		<li>Custom domain or your_name.haproxy-wi.org</li>
		<li>Tech support</li>
		<li>Pre-installed and pre-configured HAProxy service</li>
		<li>Simple port monitoring(SMON)</li>
	</ul>
	<img src="/inc/images/hapwi_overview.png" alt="HAProxy-WI Overview" style="width: 70%;" />
	<br />
	<br />
	<h3>Pricing</h3>
	...and it costs only <a href="https://www.patreon.com/join/haproxy_wi/checkout?rid=4466637" title="Patreon pay"> $35 per month!</a>. 
	You can choose your preferred payment <a href="https://haproxy-wi.org/donate.py" title="pay method">method</a>
	<br /><br />
	<img src="/inc/images/add.png" alt="HAProxy-WI Map" style="width: 70%;" />
	<br />
	<br />
	<a name="panel"></a>
	<h3><a href="cloud.py#panel" title="Cloud server">HAProxy-WI Cloud panel</a></h3>
	<br />
	<h3>HAProxy-WI Cloud panel includes:</h3>
	<ul class="link_list">
		<li>Unlimited servers</li>
		<li>Unlimited dashboards</li>
		<li>Unlimited alerts</li>
		<li>Unlimited metrics</li>
		<li>Unlimited users</li>
		<li>Custom auth (LDAP or Native)</li>
		<li>Simple port monitoring(SMON)</li>
	</ul>
	<br />
	HAProxy-WI Cloud panel means: you will have access to HAProxy-WI Cloud panel with your own separate group.
	You will have ability add unlimited numbers of users, Telegram channels and HAProxy or Nginx servers.
	All other HAProxy-WI features are also included
	<br />
	<br />
	<h3>Pricing</h3>
	...and it costs only <a href="https://www.patreon.com/join/haproxy_wi/checkout?rid=5716958" title="Patreon pay"> $15 per month!</a>.
	You can choose your preferred payment <a href="https://haproxy-wi.org/donate.py" title="pay method">method</a>
</div>
{% endblock %}