{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	<h3>You already know HAProxy-WI, get to know HAProxy-WI Cloud</h3>
	<h4>	
	Manage, visualize and alert without the headache of scaling or managing your own stack.
	</h4>
	<img src="/inc/images/hapwi_map.png" alt="HAProxy-WI Map" style="width: 70%;" />
	<br />
	<h3>HAProxy-WI Cloud includes:</h3>
	<ul class="link_list">
		<li>Dedicated HAProxy-WI Instance</li>
		<li>Unlimited Servers</li>
		<li>Unlimited Dashboards</li>
		<li>Unlimited Alerts</li>
		<li>Custom Auth (LDAP or Native)</li>
		<li>Custom Domain or your_name.haproxy-wi.org</li>
		<li>SSL </li>
		<li>Tech support </li>
	</ul>
	<img src="/inc/images/hapwi_overview.png" alt="HAProxy-WI Overview" style="width: 70%;" />
	<br />
	<h3>Pricing</h3>
	...and it costs only <a href="https://www.patreon.com/join/haproxy_wi/checkout?rid=4466637" title="Patreon pay"> $35 per month!</a>. 
	You can choose your preferred payment <a href="https://haproxy-wi.org/donate.py" title="pay method">method</a>
</div>
{% endblock %}