{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">

	<ul class="link_list">
		<li><a href="docker.py#docker" title="Getting the Docker image and deploy">Getting the Docker image</a></li>
		<li><a href="docker.py#deploy" title="deploy">Deploy</a></li>
		<li><a href="docker.py#db_settings" title="DB settings">DB settings</a></li>
		<li><a href="docker.py#versions" title="DB settings">Versions</a></li>
	</ul>
	<a name="docker"></a>
	<h3><a href="docker.py#docker" title="Getting Docker image and deploy">Getting the Docker image and deploy</a></h3>
	<br />
First login to the Haproxy-WI registry:
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/27bca8031a473519b163fad97ee3dfa8.js"></script>
	</div>
	<br />
	<b>Before uses registry you should donate to support project on 
	<a href="https://www.patreon.com/haproxy_wi/overview" title="Patreon" target="_blank">Patreon</a> 
	or on <a href="https://www.paypal.me/loginovpavel" title="PayPal" target="_blank">PayPal</a> 
	and I will send you credentials for access. 
	Actual prices you can see on <a href="https://www.patreon.com/haproxy_wi/overview" title="Patreon" target="_blank">Patreon</a>. 
	But you can donate as many as you can or as you want. Please indicate the purpose of the donation, if any.</b>
	<br /><br />
	<a name="deploy"></a>
	<h3><a href="docker.py#deploy" title="deploy">Deploy</a></h3>
	<br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/d2172f0c44fc490f86b92f576e3a8cf2.js"></script>
	</div>

	or
	<br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/7ec63af574ee87f76f8e2bc490fdd4c5.js"></script>
	</div>
	<br/>
	<a name="db_settings"></a>
	<h3><a href="docker.py#db_settings" title="DB settings">DB settings</a></h3>
	<br/>
	Default the Haproxy-WI uses the Sqlite, if you want to use the MySQL enable it in the env
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/7c203c700099c7bd7f883812d2caf301.js"></script>
	</div>
	<br />
For the MySQL supports:
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/889cae8d4f66bcf5987cb4ee49401c61.js"></script>
	</div>

<br />
<a name="versions"></a>
	<h3><a href="docker.py#versions" title="Docker images versions">The Docker images versions</a></h3>
	<br />
	The Docker images uses the same versions as the RPM packages, for example:
		<div class="github_gist">
			<script src="https://gist.github.com/Aidaho12/c7ae276921531234dd7224c44a3c149e.js"></script>
	</div>
</div>
{% endblock %}