{% extends "base.html" %}
{% block content %}	

<script>
  gtag('event', 'conversion', {'send_to': 'AW-782862302/6JRyCO6iyc8BEN6PpvUC'});
</script>

<div style="padding-left: 20px">
<h1>Support the project!</h1>

<h4>You can support the project by donating in a way convenient for you:</h4>

<a href="https://patreon.com/haproxy_wi" title="Patreon" style="font-size: 20px; font-weight: bold; color: red;" target="_blank">Patreon</a> <b>or</b>
<a href="https://paypal.me/loginovpavel" title="Patreon" style="font-size: 20px; font-weight: bold; color: red;" target="_blank">PayPal</a>
<br />

<h4>And together we will create the most convenient and enjoyable interface!</h4>
<br />
Please indicate the purpose of the donation, if any.
<br /><br />
    We can provide receipt for you if you need. Just mention it in any <a href="/contacts.py" title="Contancts">way</a> convenient for you.

</div>
{% endblock %}