{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	<ul class="link_list">
		<li><a href="installation.py#rpm" title="RPM installation">RPM installation</a></li>
		<li><a href="installation.py#why" title="RPM installation">Why should I use RPM?</a></li>
		<li><a href="installation.py#manual" title="Manual installation">Manual installation</a></li>
		<li><a href="installation.py#ansible" title="Ansible installation">Ansible installation</a></li>
		<li><a href="installation.py#selinux" title="Installing SELinux policy">SELinux policy Installing</a></li>
		<li><a href="installation.py#fail2ban" title="Installing Fail2ban">Fail2ban Installing</a></li>
		<li><a href="installation.py#os" title="OS support">OS support</a></li>
	</ul>
	<a name="rpm"></a>
	<h3><a href="installation.py#rpm" title="RPM installation">RPM</a></h3>	
	<br />
	You may retrieve signed RPM configuration files from link. It may be automatically installed by root thus:
	<br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/913a717e3cf53d01622afed06b17c44d.js"></script>
	</div>
	<br />
	Set up your credentials:
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/c1dfd54e7c7a12680d8229d7c0f90e0a.js"></script>

	</div>
	<br />
	And add your credentials:
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/a7f3d74e0f3ee3871d3869da159c2018.js"></script>
	</div>
	Install extra repository:
	<br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/267a45b145a96dea04c89d0df8a8dfac.js"></script>
	</div>
	<br>
	If you use CentOS 7 also install next:
	<br>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/c12af90e7330c8d41c64e0f4f59dd9b5.js"></script>
	</div>
	<br>
	And install HAProxy-WI:
	<br>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/d4b95a4c2ddd1158b09cb0d3b1e3fb4d.js"></script>
	</div>
	<h4>Open in your broweser: https://your_ip/ Default login/password are: admin/admin</h4>
<b>Before uses RPM repository you should donate to support project on <a href="https://www.patreon.com/haproxy_wi/overview" title="Patreon" target="_blank">Patreon</a> 
or on <a href="https://www.paypal.me/loginovpavel" title="PayPal" target="_blank">PayPal</a> and I will send you credentials for access. 
Actual prices you can see on <a href="https://www.patreon.com/haproxy_wi/overview" title="Patreon" target="_blank">Patreon</a>. But you can donate as many as you can or as you want. Please indicate the purpose of the donation, if any.</b>
	<!--<br /><br />
	Do you <a href="https://haproxy-wi.org/#try" title="Try">want to try free</a>? No problem, just 
	<a hrer="#" title="Get trial period" id="redis" onclick="redis()" style="cursor: pointer"> fill the form</a> or <a href="https://haproxy-wi.org/contacts.py" title="Contacts">write</a> to us
	and you will get access for a week!-->

	<br /><br />
	<a name="why"></a>
	<h3><a href="installation.py#rpm" title="RPM installation">Why should I use RPM?</a></h3>	
	<br />
	Using RPM it is the best solution because:
	<ul class="link_list">
		<li>It is more convenient: just type one command for installation</li>
		<li>Updating without any problems: update with a one command or click a one button in the Web Interface</li>
		<li>More stable and less bugs: RPM releases after community tests</li>
		<li>Use RPM you help project to grow and evolve</li>
		<li>It is safer: you do not need disable SELinux and firewall</li>
	</ul>
	
	<a name="manual"></a>
	<h3><a href="installation.py#manual" title="Manual installation">Manual</a></h3>
	<br/>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/96d97e3270535eaab0df0633de1e6f85.js"></script>
	</div>

	If you use Debian/Ubuntu:
	<br />
	<br />
	Change httpd to apache2 PATH and apache to www-data user in the all configs
	<br />
	<br />
	And create DB:
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/b3fd00c62ed24d97f14d9d6f2faa72ac.js"></script>
	</div>
	Disable SELinux and enjoy!
	<h4>Open in your broweser: https://your_ip/ Default login/password are: admin/admin</h4>
<a name="ansible"></a>
	<h3><a href="installation.py#ansible" title="Ansible install">Ansible install</a></h3>	
	<br />
	 If you use RPM you have not to do anything. HAProxy-WI will install and configure Ansible properly. For manual installation you should do next:
	<br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/818fb4803cbafda378fde17ca19f4593.js"></script>
	</div>
	Disable SELinux and enjoy!
	<br />
	<br />
<a name="selinux"></a>
	<h3><a href="installation.py#selinux" title="Installing SELinux policy">SELinux policy Installing</a></h3>
	<br />
	If you use RPM you have not do anything. HAProxy-WI will install SELinux policy, if this does not happen then install the package:
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/2a5fbfb7300643a7e95ceec308fbfcf3.js"></script>
	</div>
	<!-- <br /> -->
	<!-- For manual installation SELinux policy do next: -->
	<!-- <div class="code_div"> -->
		<!-- <pre> -->
<!-- $ sudo install policycoreutils-python- -->
<!-- # semanage boolean -m --on httpd_can_network_connect_db -->
<!-- # semanage boolean -m --on httpd_enable_cgi -->

<!-- # semanage fcontext -a -t httpd_unconfined_script_exec_t "/var/www/haproxy-wi/app(/.*)?" -->
<!-- # restorecon -r /var/www/haproxy-wi/app/ -->
		<!-- </pre> -->
	<!-- </div> -->
	
	<!-- Or just disabled SELinux :) -->
	<br />
	<a name="fail2ban"></a>
	<h3><a href="installation.py#fail2ban" title="Installing fail2ban policy">Fail2ban Installing</a></h3>
	<br />
	If you use RPM you have not do anything. HAProxy-WI will install Fail2ban. For manual installation you should do next:
	<br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/ad6395819f735f425751f0529dffdb5a.js"></script>
	</div>	
	<br />
		<a name="os"></a>
	<h3><a href="installation.py#os" title="OS support">OS support</a></h3>	
	<br />
	HAProxy-WI supports next os:
	<ul class="link_list">
		<li>EL7(RPM installation and manual installation)</li>
		<li>EL8(RPM installation and manual installation)</li>
		<li>Other Unix(only manual installation)</li>
	</ul>
</div>
{% endblock %}
