{% extends "base.html" %}
{% block content %}	
<h1>Welcome!</h1>

<h4>HAProxy-WI is web interface(user-friendly web GUI, alerting, monitoring and secure) for managing Haproxy servers</h4>

<h2>What HAProxy-WI can:</h2>

    Configure HAproxy In a jiffy with haproxy-wi
    View and analyse Status of all Frontend/backend server via haproxy-wi from a single control panel.
    Enable/disable servers through stats page without rebooting HAProxy
    View/Analyse HAproxy logs straight from the haproxy-wi web interface
    Create and visualise the HAproxy workflow from Web Ui.
    Push Your changes to your HAproxy servers with a single click through web interface.
    Get info on past changes, Evaluate your config files and restore a previous stable config anytime with a single click straight from Web interface.
    Add/Edit Frontend or backend servers via web interface with a click of a button.
    Edit config of HAproxy and push changes to All Master/Slave server with a single click.
    Add Multiple server to ensure Config Sync between servers.
    Auto management of ports assigned to Fronted.
    Evaluate the changes of recent configs pushed to HAproxy instances straight from web ui
    Multiple User Roles support for privileged based Viewing and editing of Config.
    Create Groups and add /remove servers to ensure proper identification for your HAproxy Clusters
    Send notifications to telegram directly from haproxy-wi.
    haproxy-wi supports high Availability to ensure uptime to all Master slave servers configured.
    SSL certificate support.
    SSH Key support for managing multiple HAproxy Servers straight from haproxy-wi
    SYN flood protect
    Alerting about changes backends state
    Alerting about HAProxy service state
    Metrics incoming connections
    Web acceleration settings
    Web application firewall
    LDAP support
    Keep active HAProxy service
    Ability to hide parts of the config with tags for users with "guest" role: "HideBlockStart" and "HideBlockEnd"


{% endblock %}