{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	<ul class="link_list">
		<li><a href="settings.py#haproxy_wi_config" title="HAProxy-WI config">HAProxy-WI config</a></li>
		<li><a href="settings.py#haproxy_config" title="HAProxy config">HAProxy config</a></li>
		<li><a href="settings.py#nginx_config" title="Nginx config">Nginx config</a></li>
		<li><a href="settings.py#db_settings" title="DB settings">DB settings</a></li>
		<li><a href="settings.py#apache" title="Apache settings">Apache settings</a></li>
	</ul>
	<a name="haproxy_wi_config"></a>
	<h3><a href="settings.py#haproxy_wi_config" title="HAProxy-WI config">HAProxy-WI config</a></h3>
	<br/>
	Edit $HOME_HAPROXY-WI/app/haproxy-wi.cfg with your env. Default config:
	<br/><br/>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/354e55b667a7c54e3f7ff82727f24701.js"></script>
	</div>
	<br/>
	<a name="haproxy_config"></a>
	<h3><a href="settings.py#haproxy_config" title="HAProxy config">HAProxy config</a></h3>
	<br/>
	If you use installed HAProxy without HAProxy-WI then for Runtime API, Metrics and Alerting enable state file and
	stat socket on the HAProxy servers and needs install socat to the all haproxy servers, and configre the HAProxy:
	<br/><br/>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/106613472ff705fcb6a9b6d58c731efd.js"></script>
	</div>
	<br/>
	For Antibot protection add the next two backends:
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/7abb01c180fc5003d6823f0000bc9f2f.js"></script>
	</div>
	<br/>
	<a name="nginx_config"></a>
	<h3><a href="settings.py#nginx_config" title="Nginx config">Nginx config</a></h3>
	<br/>
	If you use installed Nginx without HAProxy-WI then for view stats you should add the next configuration to all your Nginx servers:
	<br/><br/>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/a68cd0d44bad762a160afb16fe65ebdf.js"></script>
	</div>
	And generate login/password with htpasswd into /etc/nginx/status_page_passwdfile
	<br/><br/>
	<a name="db_settings"></a>
	<h3><a href="settings.py#db_settings" title="DB settings">DB settings</a></h3>
	<br/>

	Default the HAProxy-WI uses the Sqlite, if you want to use the MySQL enable it in config:
	<br/><br/>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/043381c19d707cc4abd9abd53c204805.js"></script>
	</div>
	<br />
	And create a database:
	<br/><br/>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/889cae8d4f66bcf5987cb4ee49401c61.js"></script>
	</div>
	<br/>
	<a name="apache"></a>
	<h3><a href="settings.py#apache" title="Apache settings">Apache settings</a></h3>
	<br/>
	If you want to use your own Domain name you should edit haproxy-wi.conf for Apache:
	<br/>
	<br/>
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/a22bfc9d3980fd4f08ec595797b3e52d.js"></script>
	</div>
	<br />
	Edit the next string, replace "haprox-wi.example.com" on your own:
	<br />	<br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/c7eed82493e1db6cf95253e9b3666456.js"></script>
	</div>
	<br>
	And if you want to have redirect from the port 80 to the port 443, you should add next:
	<br><br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/3f86df665464638fcd01c3fdf477d323.js"></script>
	</div>
	<br>
	In order to change the certificates you should edit:
	<br><br />
	<div class="github_gist">
		<script src="https://gist.github.com/Aidaho12/010aaeb8adeb33da926cbab8d06376af.js"></script>
	</div>
</div>
{% endblock %}