{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	
	<h4>Edit $HOME_HAPROXY-WI/app/haproxy-wi.cfg with your env</h4>
	
	For Runtime API, Metrics and Alerting enable state file and stat socket on HAProxy servers and need install socat on all haproxy servers, and configre HAProxy:
	<div class="code_div">
		<pre>
global
	stats socket *:1999 level admin 
    stats socket /var/run/haproxy.sock mode 600 level admin
    server-state-file /etc/haproxy/haproxy/haproxy.state

defaults
	load-server-state-from-file global

listen stats 
	stats admin if TRUE 
		</pre>
	</div>
	
	<h3>DB settings</h3>
	<br />
	Default HAProxy-WI uses Sqlite, if you want use MySQL enable in config:
	<div class="code_div">
		<ul>
			<br />
			<li>[mysql]</li>
			<li>#Enable MySQL DB. Default will be used Sqlite DB. Default disable</li>
			<li>enable = 1</li>
			<li>mysql_user = haproxywi</li>
			<li>mysql_password = haproxy-wi</li>
			<li>mysql_db = haproxywi</li>
			<li>mysql_host = 127.0.0.1</li>
			<br />
		</ul>
	</div>
	<br />
	And create database:
	<div class="code_div">
		<ul>
			<br />
			<li>MariaDB [(none)]> create user 'haproxy-wi'@'%';</li>
			<li>MariaDB [(none)]> create database haproxywi;</li>
			<li>MariaDB [(none)]> grant all on haproxywi.* to 'haproxy-wi'@'%' IDENTIFIED BY 'haproxy-wi';</li>
			<li>MariaDB [(none)]> grant all on haproxywi.* to 'haproxy-wi'@'localhost' IDENTIFIED BY 'haproxy-wi';</li>
			<br />
		</ul>
	</div>
</div>
{% endblock %}