{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	<ul class="link_list">
		<li><a href="settings.py#haproxy_wi_config" title="HAProxy-WI config">HAProxy-WI config</a></li>
		<li><a href="settings.py#haproxy_config" title="HAProxy config">HAProxy config</a></li>
		<li><a href="settings.py#db_settings" title="DB settings">DB settings</a></li>
	</ul>
	<a name="haproxy_wi_config"></a>
	<h3><a href="settings.py#haproxy_wi_config" title="HAProxy-WI config">HAProxy-WI config</a></h3>
	<br/>
	Edit $HOME_HAPROXY-WI/app/haproxy-wi.cfg with your env. Default config:
	<div class="code_div">
		<pre>
[main]
#Path to files destination
fullpath = /var/www/haproxy-wi
log_path = ${fullpath}/log/

[configs]
#Dir where configs will be save
haproxy_save_configs_dir = ${main:fullpath}/configs/hap_config/
kp_save_configs_dir = ${main:fullpath}/configs/kp_config/

[mysql]
#Enable MySQL DB. Default will be used Sqlite DB. Default disable
enable = 0
mysql_user = haproxy-wi
mysql_password = haproxywi
mysql_db = haproxywi
mysql_host = 127.0.0.1
mysql_port = 3306

		</pre>
	</div>
	
	<a name="haproxy_config"></a>
	<h3><a href="settings.py#haproxy_config" title="HAProxy config">HAProxy config</a></h3>
	<br/>
	For Runtime API, Metrics and Alerting enable state file and stat socket on the HAProxy servers and needs install socat to the all haproxy servers, and configre the HAProxy:
	<div class="code_div">
		<pre>
global
    stats socket *:1999 level admin 
    stats socket /var/run/haproxy.sock mode 600 level admin
    server-state-file /etc/haproxy/haproxy.state

defaults
    load-server-state-from-file global

listen stats 
    bind *:8085
    stats enable
    stats uri /stats
    stats realm HAProxy-04\ Statistics
    stats auth admin:password
    stats admin if TRUE 
		</pre>
	</div>
	
	<a name="db_settings"></a>
	<h3><a href="settings.py#db_settings" title="DB settings">DB settings</a></h3>
	<br/>

	Default the HAProxy-WI uses the Sqlite, if you want to use the MySQL enable it in config:
	<div class="code_div">
		<ul>
			<br />
			<li>[mysql]</li>
			<li>#Enable MySQL DB. Default will be used Sqlite DB. Default disable</li>
			<li>enable = 1</li>
			<li>mysql_user = haproxywi</li>
			<li>mysql_password = haproxy-wi</li>
			<li>mysql_db = haproxywi</li>
			<li>mysql_host = 127.0.0.1</li>
			<br />
		</ul>
	</div>
	<br />
	And create a database:
	<div class="code_div">
		<ul>
			<br />
			<li>MariaDB [(none)]> create user 'haproxy-wi'@'%';</li>
			<li>MariaDB [(none)]> create database haproxywi;</li>
			<li>MariaDB [(none)]> grant all on haproxywi.* to 'haproxy-wi'@'%' IDENTIFIED BY 'haproxy-wi';</li>
			<li>MariaDB [(none)]> grant all on haproxywi.* to 'haproxy-wi'@'localhost' IDENTIFIED BY 'haproxy-wi';</li>
			<br />
		</ul>
	</div>
</div>
{% endblock %}