{% extends "base.html" %}
{% block content %}	
<div style="padding-left: 20px">
	
	<h3>RPM</h3>
	<br />
	If you use RPM package then just type:
	<div class="code_div">
		<pre>
yum update haproxy-wi
		</pre>
	</div>
	If servers uses proxy to connection Internet add proxy settings in yum.conf:
	<div class="code_div">
		<pre>
vi /etc/yum.conf
proxy=proto://ip:port
		</pre>
	</div>
	Or use web interface for update
	<br />
	<br />
	How to install RPM read in <a href="/installation.py" title="Installation">Installation</a> man
	<h3>Manual</h3>
	<br />
	If you use manual installation then:
	<div class="code_div">
		<pre>
cd /var/www/haproxy-wi
./update.py
		</pre>
	</div>
</div>
{% endblock %}